<div class="container-responsive", id="main">
  <h1>Snowball</h1>

  <h4>
      Snowball tumbles through your Tumblr account to reveal the most influential blogs in your network!
  </h4>

  <%= link_to "Log in to Tumblr", "/auth/tumblr", 
        class: "btn btn-large btn-primary" %>
</div>
