@import "bootstrap";
@import "bootstrap-responsive";

body {
	background-image:'../images/snowball.jpg';

  /* blurred image 

  background: url('/assets/snowball.jpg');

  */

  /* high-res image */

  background: url('http://wallpaper-million.com/Wallpapers/f/Winter/Avalanche-in-the-mountains-wallpaper_7291.jpg'); 
}

/*.container-responsive*/#main {
  background-color: transparent;
  opacity: 0.9;
  height:60%;
  width:40%;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  border-radius: 10px;
  text-align:center;
  font-color: white;
}

/* Text */

h4 {
  margin: 20px;
}